// Fonts
$body-font-family: "Open Sans", sans-serif;

// Core brand
$body-text-color: #000024;
$link-color: #5700AF;
$link-color-hover: #DF3705;

// Navigation
$nav-text-color: #230056;
$nav-hover-text-color: #DF3705;
$nav-background-color: white;

// Sidebar highlights
$nav-active-background-color: #F7F0FE;
$nav-active-text-color: #5700AF;

// Page structure
$body-background-color: #FFFFFF;
$sidebar-color: #DDCCEF;

// Buttons
$btn-primary-color: #FFFFFF;
$btn-primary-background-color: #5700AF;
$btn-primary-border-color: #5700AF;
$btn-primary-hover-color: #FFFFFF;
$btn-primary-hover-background-color: #230056;
$btn-primary-hover-border-color: #230056;
