<footer class="syskit-footer">
  <div class="syskit-footer-inner">

    <div class="syskit-footer-links">
      <a href="https://www.syskit.com/sitemap/">Sitemap</a>
      <a href="https://www.syskit.com/legal/data-processing-addendum/">DPA</a>
      <a href="https://www.syskit.com/legal/eula/">EULA</a>
      <a href="https://www.syskit.com/legal/privacy-policy/">Privacy policy</a>
      <a href="https://www.syskit.com/legal/refund-policy/">Refund policy</a>
      <a href="https://www.syskit.com/legal/service-level-agreement/">SLA</a>
      <a href="https://www.syskit.com/legal/terms-of-use/">Terms of use</a>
      <a href="https://www.syskit.com/legal/information-security-policy/">Information security policy</a>
      <a href="https://www.syskit.com/legal/support-agreement/">Support agreement</a>
    </div>

    <div class="syskit-footer-bottom">
      © {{ site.time | date: '%Y' }} Syskit. All rights reserved.
    </div>

  </div>
</footer>
